*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../../public/nature_bg.jpg');
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=text]{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}
.main{
    width: 45%;
    border: 1px solid black;
    margin: 1rem auto;
    padding: auto;
    background-color: white;
}
.weathername{
    color: black;
    margin: 0 auto;
}
.temp{
    color: black;
    margin: 0 auto;
}
.det{
    color: black;
    margin: 0 auto;
}
